<!DOCTYPE html>
<html lang="en">

<%- include('partials/header.ejs') %>


<body>

  <%- include('partials/navbar.ejs') %>

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <div class="center">
        <img class="circle responsive-img" width="25%" src="img/logo.png">
      </div>

    </div>
    <br><br>
    <h1 class="header center title">
      ʻ<%= title %>ʼ
    </h1>
    <div class="row center">
      <h5 class="header col s12 light">A simple api for <b class="text-lighten-4">Any</b> project and <b
          class="text-lighten-4">Any</b> language</h5>
    </div>
    <div class="row center">
      <a href="#animals" class="btn-large waves-effect waves-light light-blue" id="examples-button">Examples</a>
      <a href="/docs" id="info-button" class="btn-large waves-effect waves-light green">Get Started</a>
    </div>
    <br><br>
    <hr>

  </div>
  </div>


  <div class="container">
    <div class="section animals">

      <!--   Icon Section   -->
      <h5 class="center" id="animals">Animals</h5>
      <hr style="width: 50%; opacity:20%;">
      <div class="row">
        <div class="col s12 m4">
          <div class="card blue-grey darken-1">
            <div class="card-image">
              <img
                src="https://media.istockphoto.com/photos/crazy-looking-black-and-white-border-collie-dog-say-looking-intently-picture-id1213516345?k=20&m=1213516345&s=612x612&w=0&h=_XUSwcrXe5HjI2QEby0ex6Tl1fB_YJUzUU8o2cUt0YA="
                alt="Bear Image">
              <span class="card-title text-lighten-4"><b>Dog</b></span>
            </div>
            <div class="card-content white-text">
              <p>Show a random dog image and facts</p>
            </div>
            <div class="card-action">
              <a href="<%= protocol %>://<%= host %>/api/v1/dog">Route</a>
              <a href="https://docs.api.any-bot.xyz/reference/api-reference/animals#get-dog"
                target="_blank">Documentation</a>
            </div>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="card blue-grey darken-1">
            <div class="card-image">
              <img
                src="https://media.istockphoto.com/photos/cute-bengal-funny-cat-playing-picture-id1071204136?k=20&m=1071204136&s=612x612&w=0&h=DCplCJ8-Lt3BW_iFrg6azckje75wDjmYKwjzLwr6d2I="
                alt="Bear Image">
              <span class="card-title"><b>Cat</b></span>
            </div>
            <div class="card-content white-text">
              <p>Show a random cat image and facts</p>
            </div>
            <div class="card-action">
              <a href="<%= protocol %>://<%= host %>/api/v1/cat">Route</a>
              <a href="https://docs.api.any-bot.xyz/reference/api-reference/animals#get-cat"
                target="_blank">Documentation</a>
            </div>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="card blue-grey darken-1">
            <div class="card-image">
              <img
                src="https://media.istockphoto.com/photos/large-carpathian-brown-bear-portrait-in-the-woods-europe-romania-picture-id1017220160?k=20&m=1017220160&s=612x612&w=0&h=FeQGgRqADxDuOj1B2ImNvX5DsT30LKqyJQm2rMSBP14="
                alt="Bear Image">
              <span class="card-title"><b>Bear</b></span>
            </div>
            <div class="card-content white-text">
              <p>Show a random bear image and facts</p>
            </div>
            <div class="card-action">
              <a href="<%= protocol %>://<%= host %>/api/v1/bear">Route</a>
              <a href="https://docs.api.any-bot.xyz/reference/api-reference/animals#get-bear"
                target="_blank">Documentation</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s12 m4">
          <div class="card blue-grey darken-1">
            <div class="card-image">
              <img
                src="https://media.istockphoto.com/photos/robin-picture-id1030966828?k=20&m=1030966828&s=612x612&w=0&h=CuwGEu8eQudZ-xa-oWAnzUaP7tGT_dMNVdqvKX0EupQ=" alt="
                Bird Image">
              <span class="card-title"><b>Bird</b></span>
            </div>
            <div class="card-content white-text">
              <p>Show a random bird image</p>
            </div>
            <div class="card-action">
              <a href="<%= protocol %>://<%= host %>/api/v1/bird">Route</a>
              <a href="https://docs.api.any-bot.xyz/reference/api-reference/animals#get-bird"
                target="_blank">Documentation</a>
            </div>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="card blue-grey darken-1">
            <div class="card-image">
              <img
                src="https://media.istockphoto.com/photos/red-fox-vulpes-vulpes-picture-id516318760?k=20&m=516318760&s=612x612&w=0&h=2tcrJLYD01zkHS2KuD9Wi2CLWHlbIjcJha8GecEo8GA="
                alt="Fox Image">
              <span class="card-title"><b>Fox</b></span>
            </div>
            <div class="card-content white-text">
              <p>Show a random fox image</p>
            </div>
            <div class="card-action">
              <a href="<%= protocol %>://<%= host %>/api/v1/fox">Route</a>
              <a href="https://docs.api.any-bot.xyz/reference/api-reference/animals#get-fox"
                target="_blank">Documentation</a>
            </div>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="card blue-grey darken-1">
            <div class="card-image">
              <img
                src="https://media.istockphoto.com/photos/young-koala-picture-id519731334?k=20&m=519731334&s=612x612&w=0&h=csXw6TkFC1ROuCDeliDzBQ1mlzEkG5W5aLVpxWQ6sJw="
                alt="Koala Image">
              <span class="card-title"><b>Koala</b></span>
            </div>
            <div class="card-content white-text">
              <p>Show a random koala image</p>
            </div>
            <div class="card-action">
              <a href="<%= protocol %>://<%= host %>/api/v1/koala">Route</a>
              <a href="https://docs.api.any-bot.xyz/reference/api-reference/animals#get-koala"
                target="_blank">Documentation</a>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="section anime">

      <!--   Icon Section   -->
      <h5 class="center" id="anime">Anime</h5>
      <hr style="width: 50%; opacity:20%;">
      <div class="row">
        <div class="col s12 m4">
          <div class="card blue-grey darken-1">
            <div class="card-image">
              <img src="https://c.tenor.com/ke9SyKxrev8AAAAC/wink-anime.gif" alt="Wink Gif">
              <span class="card-title"><b>Wink</b></span>
            </div>
            <div class="card-content white-text">
              <p>Show a random wink gif</p>
            </div>
            <div class="card-action">
              <a href="<%= protocol %>://<%= host %>/api/v1/wink">Route</a>
              <a href="https://docs.api.any-bot.xyz/reference/api-reference/anime#wink"
                target="_blank">Documentation</a>
            </div>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="card blue-grey darken-1">
            <div class="card-image">
              <img src="https://c.tenor.com/YDuiSAaax_cAAAAC/anime-pat-head-pats.gif" alt="Pat Gif">
              <span class="card-title"><b>Pat</b></span>
            </div>
            <div class="card-content white-text">
              <p>Show a random pat gif</p>
            </div>
            <div class="card-action">
              <a href="<%= protocol %>://<%= host %>/api/v1/pat">Route</a>
              <a href="https://docs.api.any-bot.xyz/reference/api-reference/anime#pat"
                target="_blank">Documentation</a>
            </div>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="card blue-grey darken-1">
            <div class="card-image">
              <img src="https://c.tenor.com/1T1B8HcWalQAAAAC/anime-hug.gif" alt="Hug Gif">
              <span class="card-title"><b>Hug</b></span>
            </div>
            <div class="card-content white-text">
              <p>Show a random hug gif</p>
            </div>
            <div class="card-action">
              <a href="<%= protocol %>://<%= host %>/api/v1/hug">Route</a>
              <a href="https://docs.api.any-bot.xyz/reference/api-reference/anime#hug"
                target="_blank">Documentation</a>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="section others">

      <!--   Icon Section   -->
      <h5 class="center" id="others">Utils</h5>
      <hr style="width: 50%; opacity:20%;">
      <div class="row">
        <div class="col s12 m4">
          <div class="card blue-grey darken-1 ">
            <div class="card-content white-text">
              <span class="card-title"><b>Flip Text</b></span>
              <p>Return your text flipped</p>
            </div>
            <div class="card-action">
              <a href="<%= protocol %>://<%= host %>/api/v1/fliptext?text=Hello%20World">Route</a>
              <a href="https://docs.api.any-bot.xyz/reference/api-reference/utils#flip-text"
                target="_blank">Documentation</a>
            </div>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title"><b>Base64</b></span>
              <p>Return your text encoded or decoded in base64</p>
            </div>
            <div class="card-action">
              <a href="<%= protocol %>://<%= host %>/api/v1/base64?text=Hello%20World">Route</a>
              <a href="https://docs.api.any-bot.xyz/reference/api-reference/utils#base64"
                target="_blank">Documentation</a>
            </div>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title"><b>Binary</b></span>
              <p>Return your text encoded or decoded in binary</p>
            </div>
            <div class="card-action">
              <a href="<%= protocol %>://<%= host %>/api/v1/binary?text=Hello%20World">Route</a>
              <a href="https://docs.api.any-bot.xyz/reference/api-reference/utils#binary"
                target="_blank">Documentation</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s12 m4">
          <div class="card blue-grey darken-1 ">
            <div class="card-content white-text">
              <span class="card-title"><b>Coin Flip</b></span>
              <p>Return a random side of a coin</p>
            </div>
            <div class="card-action">
              <a href="<%= protocol %>://<%= host %>/api/v1/coinflip">Route</a>
              <a href="https://docs.api.any-bot.xyz/reference/api-reference/utils#coin-flip"
                target="_blank">Documentation</a>
            </div>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title"><b>Password</b></span>
              <p>Return a random password</p>
            </div>
            <div class="card-action">
              <a href="<%= protocol %>://<%= host %>/api/v1/password">Route</a>
              <a href="https://docs.api.any-bot.xyz/reference/api-reference/utils#password"
                target="_blank">Documentation</a>
            </div>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title"><b>Upload</b></span>
              <p>Upload a file from a URL (API Key required)</p>
            </div>
            <div class="card-action">
              <a href="https://docs.api.any-bot.xyz/reference/api-reference/utils#upload"
                target="_blank">Documentation</a>
            </div>
          </div>
        </div>
      </div>

    </div>
    <br><br>
  </div>

  <%- include('partials/footer.ejs') %>

  <script src="js/index.js"></script>

</body>

</body>

</html>